/* Additional styles specific to this example */
.box {
  width: 97%; /* Adjust the width of div 2 and div 3 */
  height: 80px; /* Adjust the height of the dropdown div */
  margin: 10px;
  background-color: #d0d0d0; /* Light gray background color */
  border: 2px solid #006400; /* Dark green border */
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.barbox {
  margin: 10px;
  border: 2px solid #006400; /* Dark green border */
  box-sizing: border-box;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  vertical-align: middle;
  height: 400px;
  max-width: 50%; /* Set maximum width to viewport width */

}

  .bubblebox {
  margin: 10px;
  background-color: #d0d0d0;
  border: 2px solid #006400; /* Dark green border */
  box-sizing: border-box;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  vertical-align: middle;
  height: 500px;
  max-width: 97%; /* Set maximum width to viewport width */
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .countrybox {
    height: 120px;
    width: 100vw; /* 100% of the viewport width */
    background-color: #d0d0d0;
    border: 2px solid #006400;
    box-sizing: border-box;
    flex-direction: column;
   }

  
  .header {
    grid-column: 1 / -1; /* This spans across all columns */
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  #mapContainer {
    grid-column: 2 / -1; /* This spans the second column to the last column */
    grid-row: 3 / 5; /* This is the third and fourth rows */
    height: 500px;
  }  
  